# python cache
__pycache__/

# log
*.log
log/

# python venv
venv/
.env/
.venv/
.gitignore
*.ui
,venv/
。venv/



# local file / dir
*_local*

# OSX file
.DS_Store

# token file
token.txt

# emailconfig
email_config.json
